/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #D7D7D7;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    background: #252525;
}

body {
    background: #252525;
    color: #D7D7D7 !important;
    font-family: 'Futura' !important;
    font-size: 1.1em !important;
    /*font-weight: 400 !important;*/
}

#visible-painting {
    width: 932px;
    height: 1080px; 
    position: absolute;
    background: url("../img/visible_painting.png") no-repeat;
    left: 0;
    top: 0;
}

#ir-lens {
    background-color: #333;
    width: 233px;
    height: 270px;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    border: 20px solid #a7a9ac;
    top: 0;
    left: 0;
    z-index: 100;
    /*top: 150px;*/
    /*left: 200px;*/
}

#drag-hand {
    z-index: 50;
    display: block;
    position: absolute;
    left: 100px;
    top: 240px;
}

#ir-mask {
    position: absolute;
    display: block;
    z-index: 100;
    top: -20px;
    left: -20px;
}

#ir-painting {
    width: 932px;
    height: 1080px; 
    position: absolute;
    background: url("../img/ir_painting.png") no-repeat;
    left: 988px;
    top: 0;
}

.blackbox {
    width: 233px;
    height: 270px;
    background: rgba(0,0,0,1)
}

#dotgrid {
    display: block;
    position: absolute;
    left: 988px;
    top: 0;
    z-index: 100;
}

.dragzone {
    z-index: 50;
    /*background: rgba(255,0,0,0.3);*/
    /*border: solid white 1px;*/
    width: 233px;
    height: 270px;
}

#dragbox-1-1 { position: absolute; top: 0; left: 0px }
#dragbox-1-2 { position: absolute; top: 0; left: 233px }
#dragbox-1-3 { position: absolute; top: 0; left: 466px }
#dragbox-1-4 { position: absolute; top: 0; left: 699px }
#dragbox-2-1 { position: absolute; top: 270px; left: 0px }
#dragbox-2-2 { position: absolute; top: 270px; left: 233px }
#dragbox-2-3 { position: absolute; top: 270px; left: 466px }
#dragbox-2-4 { position: absolute; top: 270px; left: 699px }
#dragbox-3-1 { position: absolute; top: 540px; left: 0px }
#dragbox-3-2 { position: absolute; top: 540px; left: 233px }
#dragbox-3-3 { position: absolute; top: 540px; left: 466px }
#dragbox-3-4 { position: absolute; top: 540px; left: 699px }
#dragbox-4-1 { position: absolute; top: 810px; left: 0px }
#dragbox-4-2 { position: absolute; top: 810px; left: 233px }
#dragbox-4-3 { position: absolute; top: 810px; left: 466px }
#dragbox-4-4 { position: absolute; top: 810px; left: 699px }

#box-1-1 { position: absolute; top: 0; left: 988px }
#box-1-2 { position: absolute; top: 0; left: 1221px }
#box-1-3 { position: absolute; top: 0; left: 1454px }
#box-1-4 { position: absolute; top: 0; left: 1687px }
#box-2-1 { position: absolute; top: 270px; left: 988px }
#box-2-2 { position: absolute; top: 270px; left: 1221px }
#box-2-3 { position: absolute; top: 270px; left: 1454px }
#box-2-4 { position: absolute; top: 270px; left: 1687px }
#box-3-1 { position: absolute; top: 540px; left: 988px }
#box-3-2 { position: absolute; top: 540px; left: 1221px }
#box-3-3 { position: absolute; top: 540px; left: 1454px }
#box-3-4 { position: absolute; top: 540px; left: 1687px }
#box-4-1 { position: absolute; top: 810px; left: 988px }
#box-4-2 { position: absolute; top: 810px; left: 1221px }
#box-4-3 { position: absolute; top: 810px; left: 1454px }
#box-4-4 { position: absolute; top: 810px; left: 1687px }


#whiteflash {
    width: 932px;
    height: 1080px; 
    position: absolute;
    background: white;
    /*opacity: 0;*/
    display: none;
    z-index: 100;
    left: 988px;
    top: 0;
}

#text-irr {
    width: 988px;
    height: 1080px; 
    position: absolute;
    left: 932px;
    z-index: 200;
    padding: 50px 100px 0 100px;
    display: none;
}

#text-irr h2 { 
    text-align: center; 
    padding-bottom: 
}

#text-irr p {
    padding-top: 30px;
    text-align: center;
    margin: auto;
}

#btn-continue {
    text-align: center;
    margin: 40px auto 0 auto;
    display: block;
    border-radius: 3px;
    border: solid white 2px;
    padding: 10px 40px; 
    background: none;
}

#btn-finish {
    text-align: center;
    margin: 40px auto 0 auto;
    display: block;
    border-radius: 3px;
    border: solid white 2px;
    padding: 10px 40px; 
    background: none;
    position: absolute;
    left: 850px;
}

/* LAYERS */
#text-layers {
    width: 988px;
    height: 1080px; 
    position: absolute;
    left: 932px;
    z-index: 500;
    padding: 50px 100px 0 100px;
    text-align: center;
    display: none;
}

#text-layers h2 { 
    text-align: center; 
    padding-bottom: 
}

#text-layers p {
    padding-top: 30px;
    text-align: center;
    margin: auto;
}

#layer-pentimento { position: absolute; left: 0; top: 0; display: none; z-index: 200; }
#layer-stilllife { position: absolute; left: 0; top: 0; display: none; z-index: 200; }
#layer-femalenude { position: absolute; left: 0; top: 0; display: none; z-index: 200; }

#diagram-irlayers {
    position: absolute;
    left: 310px;
}

#radio-visible { position: absolute; left: 20px; top: 270px; }
#radio-pentimento { position: absolute; left: 20px; top: 360px; }
#radio-stilllife { position: absolute; left: 20px; top: 450px; }
#radio-femalenude { position: absolute; left: 20px; top: 550px; }

#radiofill-visible { position: absolute; left: 224px; top: 288px; display: none; }
#radiofill-pentimento { position: absolute; left: 224px; top: 378px; }
#radiofill-stilllife { position: absolute; left: 224px; top: 468px; display: none; }
#radiofill-femalenude { position: absolute; left: 224px; top: 568px; display: none; }

#temp-p2 {
    padding-top: 430px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
